.card {
    height: 80vh;
    padding: .1in;
    margin: .1in;
    flex: 40%;
    object-fit: contain;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .1in
    /* background-color: darkblue; */
}

.card img {
    width: auto;
    height: 100%;
}

.info {
    height: 100%;
    /* background-color: aquamarine; */
}